@import './Styles/_variable.scss';


*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html,
body{
  background: #000;
  height: 100vh;
  color:#fff;
}

h3{
  color: lightgray;
  

}

@media  (max-width: 800px){
  .cards {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:500px) {
  .cards{
    grid-template-columns: 1fr;
  }
  
}



